.container {
  flex: 2;
  margin-top: 60px;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 28px;
}

.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.imageContainer {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  max-width: max-content;
}

.travel {
  background-color: orangered;
}

.culture {
  background-color: rgb(79, 201, 105);
}

.food {
  background-color: rgb(219, 50, 191);
}

.fashion {
  background-color: rgb(94, 92, 180);
}
.postTitle {
  font-style: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}

.detail {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.date {
  color: gray;
}
